@keyframes arrowSlideRight {
  0% {
    transform: translateX(-8px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes arrowSlideLeft {
  0% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9) translateY($spacer * 8);
  }
}
