.tw-balance {
  text-wrap: balance;
}

@include media-breakpoint-down(lg) {
  .offcanvas {
    --bs-offcanvas-width: 90vw;
  }
}

.bg-hero {
  background:
    linear-gradient(rgba($green-800, 0.85), rgba($green-900, 0.9)),
    url("../img/macedonian-denars.webp") top;
  background-size: cover;
}

.backdrop-blur {
  backdrop-filter: blur($spacer * 2);
}
