.tw-balance {
  text-wrap: balance;
}

@include media-breakpoint-down(lg) {
  .offcanvas {
    --bs-offcanvas-width: 90vw;
  }
}

.bg-hero {
  background:
    linear-gradient(rgba($green-800, 0.85), rgba($green-900, 0.9)),
    url("../img/macedonian-denars.webp") top;
  background-size: cover;
}

.bg-footer {
  background:
    linear-gradient(rgba($green-900, 0.9), rgba($green-800, 0.85)),
    url("../img/macedonian-denars.webp") bottom;
  background-size: cover;
}

.backdrop-blur {
  backdrop-filter: blur($spacer * 2);
}

.backdrop-blur-sm {
  backdrop-filter: blur($spacer);
}

.bg-shade {
  background-image: linear-gradient(rgba($white, 0.25), transparent 35%);
}

.bg-shade-img {
  background:
    linear-gradient(
      rgba($primary-bg-subtle, 0.85),
      rgba($primary-bg-subtle, 1) 25%
    ),
    url("../img/macedonian-denars-sm.webp");
  background-size: contain;
  background-blend-mode: luminosity;
  background-repeat: no-repeat;
}

.bg-shade-img-alt {
  background:
    linear-gradient(
      rgba($primary-bg-subtle, 0.85),
      rgba($primary-bg-subtle, 1) 2%
    ),
    url("../img/macedonian-denars-sm.webp");
  background-size: contain;
  background-blend-mode: luminosity;
  background-repeat: no-repeat;
}

.btn-link-arrow,
.btn-link-arrow-next {
  &:hover {
    .bi {
      &:before {
        animation: 600ms arrowSlideRight ease-out infinite;
      }
    }
  }
}

.btn-link-arrow-prev {
  &:hover {
    .bi {
      &:before {
        animation: 600ms arrowSlideLeft ease-out infinite;
      }
    }
  }
}

.btn-link-shadow {
  transition: 150ms box-shadow ease-in-out;
  &:hover {
    @extend .shadow-lg;
    @extend .border-dark-subtle;
  }
}

.totals {
  opacity: 1;
  animation: 600ms fadeIn ease-in-out;
}
