.tw-balance {
  text-wrap: balance;
}

@include media-breakpoint-down(lg) {
  .offcanvas {
    --bs-offcanvas-width: 90vw;
  }
}

.bg-hero {
  background:
    linear-gradient(rgba($green-800, 0.85), rgba($green-900, 0.9)),
    url("../img/macedonian-denars.webp") top;
  background-size: cover;
}

.backdrop-blur {
  backdrop-filter: blur($spacer * 2);
}

.backdrop-blur-sm {
  backdrop-filter: blur($spacer);
}

.btn-link-arrow,
.btn-link-arrow-next {
  &:hover {
    .bi {
      &:before {
        animation: 600ms arrowSlideRight ease-in-out infinite;
      }
    }
  }
}

.btn-link-arrow-prev {
  &:hover {
    .bi {
      &:before {
        animation: 600ms arrowSlideLeft ease-in-out infinite;
      }
    }
  }
}

.btn-link-shadow {
  &:hover {
    @extend .shadow-lg;
  }
}

.totals {
  opacity: 1;
  animation: 300ms fadeIn ease-in-out;
}
